name: Build ConnectedGlassX

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: gradle

    - name: Cache Libs
      id: cache-libs
      uses: actions/cache@v4
      with:
        path: libs
        key: libs-v1-${{ runner.os }}

    - name: Create libs directory
      if: steps.cache-libs.outputs.cache-hit != 'true'
      run: mkdir -p libs

    - name: Download Dependencies
      if: steps.cache-libs.outputs.cache-hit != 'true'
      working-directory: ./libs
      run: |
        wget -nv http://www.fybertech.net/minecraft/meddle/dynamicmappings-023.jar
        wget -nv http://www.fybertech.net/minecraft/meddle/meddleapi-1.0.6.jar
        wget -nv http://www.fybertech.net/maven/net/fybertech/meddle/1.3/meddle-1.3.jar
        wget -nv -O minecraft-1.RV-pre1-client.jar https://piston-data.mojang.com/v1/objects/3843fae71dd283e68897ead618255fa1ddcf4c8d/client.jar
        wget -nv https://repo1.maven.org/maven2/org/ow2/asm/asm-all/5.0.3/asm-all-5.0.3.jar
        wget -nv https://repo1.maven.org/maven2/org/apache/logging/log4j/log4j-api/2.8.1/log4j-api-2.8.1.jar
        wget -nv https://repo1.maven.org/maven2/org/apache/logging/log4j/log4j-core/2.8.1/log4j-core-2.8.1.jar
        wget -nv https://repo1.maven.org/maven2/com/google/guava/guava/17.0/guava-17.0.jar
        wget -nv https://repo1.maven.org/maven2/com/google/code/gson/gson/2.2.4/gson-2.2.4.jar
        wget -nv https://repo1.maven.org/maven2/io/netty/netty-all/4.0.23.Final/netty-all-4.0.23.Final.jar
        wget -nv https://libraries.minecraft.net/com/mojang/authlib/1.5.21/authlib-1.5.21.jar
        wget -nv https://libraries.minecraft.net/org/lwjgl/lwjgl/lwjgl/2.9.4-nightly-20150209/lwjgl-2.9.4-nightly-20150209.jar
        wget -nv https://libraries.minecraft.net/org/lwjgl/lwjgl/lwjgl_util/2.9.4-nightly-20150209/lwjgl_util-2.9.4-nightly-20150209.jar
        wget -nv https://libraries.minecraft.net/com/paulscode/soundsystem/20120107/soundsystem-20120107.jar

    - name: Run DynamicRemap
      if: steps.cache-libs.outputs.cache-hit != 'true'
      working-directory: ./libs
      run: |
        java -cp \
        minecraft-1.RV-pre1-client.jar:\
        dynamicmappings-023.jar:\
        asm-all-5.0.3.jar:\
        log4j-api-2.8.1.jar:\
        log4j-core-2.8.1.jar:\
        meddle-1.3.jar:\
        guava-17.0.jar:\
        gson-2.2.4.jar:\
        netty-all-4.0.23.Final.jar:\
        authlib-1.5.21.jar:\
        lwjgl_util-2.9.4-nightly-20150209.jar:\
        lwjgl-2.9.4-nightly-20150209.jar:\
        soundsystem-20120107.jar \
        net.fybertech.dynamicmappings.DynamicRemap

    - name: Verify Remapped Jar
      run: |
        if [ ! -f libs/mcremapped.jar ]; then
          echo "Error: mcremapped.jar generation failed!"
          exit 1
        fi

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: '7.6'

    - name: Build with Gradle
      run: gradle jar

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ConnectedGlassX-Build
        path: build/libs/*.jar
